name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: Run a one-line script
      run: echo Hello, world!
    - name: Run a multi-line script
      run: |
        echo Add other actions to build,
        echo test, and deploy your project.
    - name: setuptools
      run: sudo apt-get install python3-setuptools
    - name: install ansible-lint
      run: pip3 install ansible-lint
    - name: install ansible-lint
      run: whereis pip  
